#clockContainer{
    height: 40vw;
    width: 40vw;
    background: url('https://i.pinimg.com/originals/c6/4f/bc/c64fbc3d156e34b264662fcecd45aa36.jpg') no-repeat;
    background-size: 100%;
    position: relative;
    margin: auto;
}

#hour, #minute, #second{
    position: relative;
    background-color: palevioletred;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    height: 20%;
    width: 1.4%;
    left: 49.3%;
    top: 30.15%;
}
#minute{
    height: 26%;
    width: 1.1%;
    left: 49.5%;
    top: 4%;
}
#second{
    height: 29%;
    width: 0.7%;
    left: 49.7%;
    top: -25%; 
}